.message {
    position: relative;
    display: flex;
}

.message:first-of-type:before {
    content: '';
    position: absolute;
    display: block;
    top: 10px;
    left: -10px;
    border-right: 10px solid #eeeeee;
    border-top: 0px solid transparent;
    border-bottom: 10px solid transparent;
}

.text {
    display: inline-block;
    margin: 10px 0;
    padding: 20px;
    background: #eeeeee;
    border-radius: 0 5px 5px 5px;
}