.sidebar {
    position: relative;
    flex: 0 0 25%;
    max-width: 25%;
    height: 100vh;
    overflow: hidden;
}

.sidebar:after {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    right: 0;
    background: #eeeeee;
}