.message {
    position: relative;
}

.text {
    line-height: 1.7;
    position: relative;
    display: inline-block;
    margin: 10px 0;
    padding: 15px 20px;
    background: #eeeeee;
    max-width: 60%;
    word-wrap: break-word;
}

.time {
    position: absolute;
    top: -17px;
    font-size: 12px;
}

.with:before,
.from:before {
    content: '';
    position: absolute;
    display: block;
    top: 10px;
    border-top: 0px solid transparent;
    border-bottom: 10px solid transparent;
}

.with:before {
    left: -10px;
    border-right: 10px solid #eeeeee;
}

.from:before {
    right: -10px;
    border-left: 10px solid #eeeeee;
}

.with:after,
.from:after {
    content: "";
    clear: both;
    display: table;
}

.with + .with:before {
    display: none;
}

.from + .with:before {
    display: block;
}

.from + .from:before {
    display: none;
}

.with + .from:before {
    display: block;
}

.with .text {
    float: left;
    border-radius: 0 5px 5px 5px;
}

.with + .with .text {
    border-radius: 5px;
}

.from + .with .text {
    border-radius: 0 5px 5px 5px;
}

.with + .from,
.from + .with {
    margin-top: 30px;
}

.with .text .time {
    right: 5px;
}

.from .text {
    float: right;
    border-radius: 5px 0 5px 5px;
}

.from + .with .text {
    border-radius: 0 5px 5px 5px;
}

.from + .from .text {
    border-radius: 5px;
}

.from .text .time {
    left: 5px;
}